html{
    scroll-behavior: smooth;
  
  }

/* FOOTER */

.footer-bg{
  background-color: #101010;
}


/* ICONOS DEL FOOTER */
.icono-rsociales{
font-size: 1.5rem;

}
.icono-rsociales:hover{
font-size: 1.5rem;
color: #fa4299;
}

/*  LINKS DE FOOTER*/
.link-footer{
  padding: .2rem;
  list-style-type: none;
}
.link-footer > a{
  text-decoration: none;
}



