@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif; 
    /*outline: solid 1px tomato !important;*/
}


/*------Navbar-------*/

/*.container {
    position: relative;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    float:left;
    box-sizing: border-box;
}*/

a {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}

.navbar {
    background-color: white !important;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

.nav-link {
    color:#333333 !important;
}

.nav-item {
    margin-left: 10px;
}


/*------Banner-------*/

.banner {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #EDF5FC;
    transition: 0.5s;
}

/*------Container-------*/
div.container2 {
    position: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1px;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*------Cuerpo-------*/

.cuerpo {
    position: relative;
}

.cuerpo h1 {
    font-size: 6em;
    font-weight: 800;
    color: #1A609F;
    line-height: 1em;
}

.cuerpo p {
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #333333;
}

.button1, .button2 {
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
}

.button1 {
    background-color: #fa4299;
    border-color: white;
    color: white;
}

.button2 {
    background-color: #1A609F;
    border-color: white;
    color: white;
}

.boton1 {
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 10%;
    background-color: #1A609F;
    color: white;
    border-color: white;
    border-width: 2px;
}

.boton2 {
    background-color: #fa4299;
    border-color: white;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin:auto;
	display:block;
}

.boton3 {
    border-radius: 5px;
    padding: 10px;
    margin:auto;
	display:block;
    width: 20%;
    background-color: #ACD1F2;
    color: white;
    border-color: white;
    border-width: 2px;
}


/*------Cards--------*/

.card-body {
    background: transparent; 
    margin: 5%;
}

.card {
    background: transparent;
    margin: 1%;  
    border: none;
}

.cajas {
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}


/*------Seccion--------*/

.seccion {
    height: 100vp;  
    padding: 5%;
}

.seccion1 {
    height: 100vp; 
    padding: 10%;
    /*background: ; */
}

.img-act {
    width: 40%;
    margin:auto;
	display:block;
    margin-top: 3%;
}

.texto1 {
    text-align: center;
    color: white;
    margin: 1%;
    line-height: 2.5;
}

.texto2 {
    text-align: center;
    color: white;
    margin: 2% 10%;
    line-height: 2.5;
}


/*------Footer-------*/

footer {
    background-color: #333333;
    color: white;
    padding: 2%;
}

footer p {
    padding: 5px;
    font-size: 15px;
    margin-right: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.grid-item {
    margin: 2%;
}

.redes {
    width: 3em;
}

.texto {
    margin: 1%
}

.pie {
    margin-top: 3%;
}

/*------Responsive-------*/

@media (max-width:400px){
    
    .cuerpo {
        position: relative;
        margin-top: 260px;
    }
    
    .cuerpo h1 {
        font-size: 3em;
        font-weight: 500;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: 500;
        max-width: 500px;
        color: white;
    }
    
    .boton1 {
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        width: 30%;
        background-color: transparent;
        color: white;
        border-color: white;
        border-width: 2px;
    }

    .seccion , .seccion1{
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    div.container2 {
        position: center;
        justify-content: center;
        text-align: center;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 1px;
    }

    .cajas {
        margin-top: 15px;
    }

    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color: #333333;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}

@media only screen and (min-width:400px) and (max-width:500px){

    .cuerpo {
        position: relative;
        margin-top: 260px;
    }
    
    .cuerpo h1 {
        font-size: 4em;
        font-weight: 600;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: 600;
        max-width: 600px;
        color: white;
    }
    .navbar {
        background-color: white !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: white !important;
    }
    
    .boton1 {
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        width: 20%;
        background-color: #1A609F;
        color: white;
        border-color: white;
        border-width: 2px;
    }
    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color:#333333;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}
@media only screen and (min-width:500px) and (max-width:768px){

    .cuerpo {
        position: relative;
    }
    
    .cuerpo h1 {
        font-size: 2em;
        font-weight: 400;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 5px 0;
        font-weight: 400;
        max-width: 400px;
        color: white;
    }
    .navbar {
        background-color: white !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: white !important;
    }
    
    .boton1 {
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        width: 20%;
        background-color: transparent;
        color: white;
        border-color: white;
        border-width: 2px;
    }
    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color: black;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .cuerpo {
        position: relative;
    }
    
    .cuerpo h1 {
        font-size: 2em;
        font-weight: 400;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 5px 0;
        font-weight: 400;
        max-width: 400px;
        color: white;
    }
    .navbar {
        background-color: transparent !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: white !important;
    }
    
}