<div class="div0"></div>
<div class="conteiner">
    <nav>
        <i class="fa-solid fa-cart-shopping">
            <div class="compras">
                <ul class="nav-compras">
                    <li>imagen</li>
                    <li>nombre</li>
                    <li>precio</li>
                    <li>cantidad</li>
                </ul>
                <button>VACIAR CARRITO</button>
            </div>
        </i>
    </nav>
        <h1>Nuestros Servicios</h1>
    <div class="servicios">

       <div class="items" *ngFor="let servicio of servicios, let i=index"> 
          <img src="../../../assets/Pilares-tratamiento-diabetes.png" alt="Pilares-tratamiento-diabetes">
          <div class="info">
             <h3>{{servicio.nombre}}</h3>
             <p>{{servicio.descripcion}}</p>
             <div class="precio">
                 <p>{{servicio.monto}}</p>
             </div>
             <button>Agregar al carrito</button>
          </div>
        </div>
       <!--  <div class="items">  
        <img src="../../../assets/Pilares-tratamiento-diabetes.png" alt="Pilares-tratamiento-diabetes">
          <div class="info">
             <h3>titulo producto 1</h3>
             <p>informacion adicional</p>
             <div class="precio">
                 <p>precio</p>
             </div>
             <button>Agregar al carrito</button>
          </div>
       </div>
       <div class="items">
        <img src="../../../assets/Pilares-tratamiento-diabetes.png" alt="Pilares-tratamiento-diabetes">
          <div class="info">
             <h3>titulo producto 1</h3>
             <p>informacion adicional</p>
             <div class="precio">
                 <p>precio</p>
             </div>
             <button>Agregar al carrito</button>
          </div>
       </div > -->
    </div>
</div>
