<div class="div0"></div>


  
<!-- [formGroup]="profileForm" -->

  <section class="grid-container1 banner2">
    <form  action="" method="POST" id="form">
      <div class="form form2">
        <h1 >LOGIN</h1>
        
        <div class="grupo">
          <input formControlName="email" type="email" name="" id="email"><span class="barra"></span>
          <label for="">Email</label>
          <!--  MENSAJES DE VALIDACION PARA INPUT NOMBRE -->
          <div *ngIf="email_GET.invalid && (email_GET.dirty || email_GET.touched)"
          class="text-danger">
      
              <div *ngIf="email_GET.errors?.['required']">
                Ingrese un email.
              </div>
              <div *ngIf="email_GET.errors?.['email']">
                Ingrese un email con formato correcto.
              </div>

          </div>
          <!--  ////////////////////// -->
        </div>
        <div class="grupo">
          <input formControlName="pass" type="password" name="" id="password"><span class="barra"></span>
          <label for="">Password</label>
          <!--  MENSAJES DE VALIDACION PARA INPUT NOMBRE -->
          <div *ngIf="pass_GET.invalid && (pass_GET.dirty || pass_GET.touched)"
          class="text-danger">
      
              <div *ngIf="pass_GET.errors?.['required']">
                Ingrese una contraseña valida.
              </div>
            

          </div>
          <!--  ////////////////////// -->
        </div>
            <!--  (click)="verificacionLogin()" -->
        <button  class="btn_stl" type="submit">
          <a href="auth/dash_user">Ingresar</a>
        </button>
  

        <button class="btn_stl_admin" type="submit">
          <a href="auth/dash_admin">Ingresar como administrador</a>

          </button>



        <p class="warnings" id="warnings"></p>
        <div class="signup-link">
          ¿Deseas volver? <a href="./index.html"> Ir a Inicio</a>
          </div>   
      </div>
    </form>

  </section>


  <script src="assets\js\topbtn.js"></script>
  <script src="assets\js\val-registro.js"></script>







