<div class="div0"></div>


<!DOCTYPE html>
<html>
<html lang="es">

<!-- Empieza Head -->

<head>




  <!-- Título -->
  <title>OneDrop</title>

  <!-- Description -->
  <meta name="description" content="OneDrop aplicación de ...">
  <!-- completar con la descripción-->

  <!-- Keywords -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="md:locale" content="es_es" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="salud, diabetes"> <!-- completar -->
  <meta name="origen" content="OneDrop" />
  <meta name="author" content="Grupo 30 - OneDrop" />
  <meta name="copyright" content="&copy; 2022 OneDrop" />
  <meta name="locality" content="CÓRDOBA, Argentina" />
  <meta name="language" content="es" />
  <meta name="revisit-after" content="1 days" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  
  
  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">
  <!--link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"-->

</head> <!-- Termina Head -->

<!-- Empieza Body -->

<body>
  


  <section class="grid-container1 banner2">
    <form [formGroup]="profileForm" action="" method="POST" id="form">
      <div class="form form2">
        <h1 >LOGIN</h1>
        
        <div class="grupo">
          <input formControlName="email" type="email" name="" id="email"><span class="barra"></span>
          <label for="">Email</label>
          <!--  MENSAJES DE VALIDACION PARA INPUT NOMBRE -->
          <div *ngIf="email_GET.invalid && (email_GET.dirty || email_GET.touched)"
          class="text-danger">
      
              <div *ngIf="email_GET.errors?.['required']">
                Ingrese un email.
              </div>
              <div *ngIf="email_GET.errors?.['email']">
                Ingrese un email con formato correcto.
              </div>

          </div>
          <!--  ////////////////////// -->
        </div>
        <div class="grupo">
          <input formControlName="pass" type="password" name="" id="password"><span class="barra"></span>
          <label for="">Password</label>
          <!--  MENSAJES DE VALIDACION PARA INPUT NOMBRE -->
          <div *ngIf="pass_GET.invalid && (pass_GET.dirty || pass_GET.touched)"
          class="text-danger">
      
              <div *ngIf="pass_GET.errors?.['required']">
                Ingrese una contraseña valida.
              </div>
            

          </div>
          <!--  ////////////////////// -->
        </div>

        <button (click)="verificacionLogin()"
          style="background: -webkit-linear-gradient(left, #001d4d, #1A609F); border: none;display: block;width: 80%;margin: 10px auto;color: #fff;height: 40px;font-size: 20px;cursor: pointer;"
          type="submit">Ingresar</button>
        <p class="warnings" id="warnings"></p>
        <div class="signup-link">
          ¿Deseas volver? <a href="./index.html"> Ir a Inicio</a>
          </div>   
      </div>
    </form>

  </section>


  <script src="assets\js\topbtn.js"></script>
  <script src="assets\js\val-registro.js"></script>
</body>

</html>



