@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
:root {
    --colorTextos: #49454567;
}

/*
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif; 
    /*outline: solid 1px tomato !important;
}


/------Navbar-------/

/*.container {
    position: relative;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    float:left;
    box-sizing: border-box;
}

a {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}

.navbar {
    background-color: white !important;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

.nav-link {
    color:#333333 !important;
}

.nav-item {
    margin-left: 10px;
}
*/

/*------Banner-------/
/*
.color-fondo{

    background-color: #edf5fc !important;
}

.banner {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #EDF5FC;
    transition: 0.5s;
}

.banner2{
    padding: 5rem !important;
    background-color: #eee;
}




.grid-container1 {
        display: flex;
        flex: 1;
        align-items: inherit;
        justify-content: center;
        position: relative;
}

h1{
    text-align: center;
    font-weight: 200;
    color: #1A609F;
    font-family: Poppins, sans-serif;
}

form{
    background: #fff;
    padding: 30px;
    box-shadow: 2px 2px 5px 5px #999;
    border-radius: 10px;

}

.form{
    width: 100%;
    margin:auto;

}



form .grupo{
    position: relative;
    margin: 30px;
    width: 80%;
    max-width: 600px;
}

.form a{
    color: #0171d3;
    text-decoration: none;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 14px;
    color: #2196f3;
}
*/
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
/*
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: hsl(0, 100%, 43%);
    padding-top: 20px;
}
*/
/*------Footer-------/

/*
footer {
    background-color: #333333;
    color: white;
    padding: 2%;
}

footer p {
    padding: 5px;
    font-size: 15px;
    margin-right: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.grid-item {
    margin: 2%;
}

.redes {
    width: 3em;
}

.texto {
    margin: 1%
}

.pie {
    margin-top: 3%;
}

/------Responsive-------/
/*
@media (max-width:400px){
    a {
        font-size: 10px;
        
    }
    .cuerpo {
        position: relative;
        margin-top: 260px;
    }
    
    .cuerpo h1 {
        font-size: 3em;
        font-weight: 500;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: 500;
        max-width: 500px;
        color: white;
    }
    
   .boton1 {
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 10%;
    background: -webkit-linear-gradient(left, #001d4d, #1A609F);
    /*background-color: #1A609F;
    color: white;
    border-color: white;
    border-width: 2px;
    }

    .seccion , .seccion1{
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    div.container2 {
        position: center;
        justify-content: center;
        text-align: center;
        padding-top: 0%;
        padding-left: 15%;
        padding-right: 10%;
        padding-bottom: 1px;
    }

      .grid-container {
        display: grid;
        justify-content: center;
        position: relative;
        padding-top: 0%;
       
    }

    .cajas {
        margin-top: 15px;
    }

    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color: #333333;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}

@media only screen and (min-width:400px) and (max-width:500px){
    a {
        font-size: 10px;
        
    }
    .cuerpo {
        position: relative;
        margin-top: 260px;
    }
    
    .cuerpo h1 {
        font-size: 4em;
        font-weight: 600;
        color: #1A609F;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: 600;
        max-width: 600px;
        color: #333333;
    }
    .navbar {
        background-color: white !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: #1A609F !important;
    }

     .grid-container {
        display: grid;
        justify-content: center;
        position: relative;
        padding-top: 0%;
      
    }
    
    .boton1 {
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 10%;
    background: -webkit-linear-gradient(left, #001d4d, #1A609F);
    /*background-color: #1A609F;
    color: white;
    border-color: white;
    border-width: 2px;
    }
  
    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color:#333333;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}
@media only screen and (min-width:500px) and (max-width:768px){

    .cuerpo {
        position: relative;
    }
    
    .cuerpo h1 {
        font-size: 4em;
        font-weight: 600;
        color: #1A609F;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 5px 0;
        font-weight: 400;
        max-width: 400px;
        color: #333333;
    }
    .navbar {
        background-color: white !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: #1A609F !important;
    }

    .grid-container {
        display: grid;
        justify-content: center;
        position: relative;

    }
    
    .boton1 {
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 10%;
    background: -webkit-linear-gradient(left, #001d4d, #1A609F);
    /*background-color: #1A609F;
    color: white;
    border-color: white;
    border-width: 2px;
    }
  
    .footer {
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    footer {
        background-color: #333333;
        color: white;
        padding: 2px;
    }
    
    footer p {
        padding: 2px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 2px;
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px){

    .cuerpo {
        position: relative;
    }
    
    .cuerpo h1 {
        font-size: 2em;
        font-weight: 400;
        color: white;
        line-height: 1em;
    }
    
    .cuerpo p {
        position: relative;
        font-size: 1.1em;
        margin: 5px 0;
        font-weight: 400;
        max-width: 400px;
        color: white;
    }
    .navbar {
        background-color: white !important;
        width: 100%;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
    }
    
    .nav-link {
        color: #1A609F !important;
    }



    #198754 success
    #dc3545 danger
    
}




/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */

/*      COLORES DE VALIDACION QUE USA ANGULAR O BOOTSTRAP NO ME ACUERDO BIEN CUAL ERA
#198754 success
#dc3545 danger
*/
.section-princ{
    background-color: #edf5fc;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}


.titulo{
    height: 4rem;
    border-bottom: 1px solid#c2c8ce;

}
.borde{
    border: 1px solid#c2c8ce;
    border-radius: .5rem;

}

.margin{
    margin: 1rem;
}


.cont-form{
    padding: 1rem;
    width: 50vw;
    padding-top: 3rem;
    padding-bottom: 4rem;
    height: auto;

}

.campo-input{
    height: 10rem;
}

.sub-campo-input{
    height: 2.5rem;


}

.campo-email{
    margin-top: 2rem;
}


/* estilos de validacion*/
.borde-validacion_ok{
    border:   #198754;

}

.borde-validacion_nope{
    border:   #dc3545;

}

.text-danger2{
    border:  1px solid #dc3545;
    color:   #dc3545;

}
 
/*  COLORES DE VALIDACION   */
.ng-valid:not(form).ng-touched{
    border-bottom: 2px solid  #198754;
   
}

.ng-invalid:not(form).ng-touched{
    border-bottom:  2px solid  #dc3545;


}