<div class="div0"></div>


<!DOCTYPE html>
<html>
<html lang="es">

<!-- Empieza Head -->

<head>




  <!-- Título -->
  <title>OneDrop</title>

  <!-- Description -->
  <meta name="description" content="OneDrop aplicación de ...">
  <!-- completar con la descripción-->

  <!-- Keywords -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="md:locale" content="es_es" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="salud, diabetes"> <!-- completar -->
  <meta name="origen" content="OneDrop" />
  <meta name="author" content="Grupo 30 - OneDrop" />
  <meta name="copyright" content="&copy; 2022 OneDrop" />
  <meta name="locality" content="CÓRDOBA, Argentina" />
  <meta name="language" content="es" />
  <meta name="revisit-after" content="1 days" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  
  
  <!-- Favicons -->

  <link href="assets/img/favicon.png" rel="icon">
  <!--link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"-->

</head> <!-- Termina Head -->

<!-- Empieza Body -->

<body>
  


  <section class="grid-container1 banner2">
    <form action="" method="POST" id="form">
      <div class="form ">
        <h1 >Crear una cuenta</h1>
        <div class="grupo">
          <input type="text" name="" id="name"><span class="barra"></span>
          <label for="">Nombres</label>
        </div>
        <div class="grupo">
          <input type="text" name="" id="lastname"><span class="barra"></span>
          <label for="">Apellidos</label>
        </div>
        <div class="grupo">
          <input type="email" name="" id="email"><span class="barra"></span>
          <label for="">Email</label>
        </div>
        <div class="grupo">
          <input type="password" name="" id="password"><span class="barra"></span>
          <label for="">Password</label>
        </div>

        <button
          style="background: -webkit-linear-gradient(left, #001d4d, #1A609F); border: none;display: block;width: 80%;margin: 10px auto;color: #fff;height: 40px;font-size: 20px;cursor: pointer;"
          type="submit">Registrarme</button>
        <p class="warnings" id="warnings"></p>
        <div class="signup-link">
          ¿Deseas volver? <a href="./index.html"> Ir a Inicio</a>
          </div>   
      </div>
    </form>

  </section>


  <script src="assets\js\topbtn.js"></script>
  <script src="assets\js\val-registro.js"></script>
</body>

</html>



