@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif; 
}

/* Navbar */
a {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}

.navbar {
    background-color: white !important;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

.nav-link {
    color: #333333 !important;
}

.nav-item {
    margin-left: 10px;
}

/* Banner */
.banner {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FC;
    transition: 0.5s;
}

/* Container */
div.container2 {
    text-align: center;
    padding: 5% 10%;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Cuerpo */
.cuerpo {
    position: relative;
    text-align: center;
}

.cuerpo h1 {
    font-size: 6em;
    font-weight: 800;
    color: #1A609F;
    line-height: 1em;
    text-align: left;
}

.cuerpo p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #333333;
    text-align: left;
}

.seccion1 {
    padding: 5% 0;
}

/* Cards */
.card-body {
    background: transparent; 
    margin: 5%; 
}

.card {
    background: transparent;
    margin: 1%; 
    border: none;
    height: auto;
}

.cajas {
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

/* Seccion */
.seccion {
    padding: 5%;
}

.seccion1 {
    padding: 5% 0;
}

.img-act {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 3%;
}

.texto1 {
    text-align: center;
    color: #1A609F;
    margin: 1%;
    line-height: 2.5;
}

.texto2 {
    text-align: center;
    color: #333333;
    margin: 2% 10%;
    line-height: 2.5;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .banner {
        padding: 10%;
    }

    .cuerpo h1 {
        font-size: 4em;
    }

    .cuerpo p {
        font-size: 100%;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        padding: 5%;
    }

    .cuerpo h1 {
        font-size: 4em;
      }

    .cuerpo p {
        font-size: 100%;
    }
}
