<!DOCTYPE html>
<html>
  <html lang="es">
      
<!-- Empieza Head -->  
    
  <head> 
    
<!-- Bootstrap -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Css -->
            <link rel="stylesheet" type="text/css" media="all" href="assets/css/style.css">

<!-- Título -->
	          <title>OneDrop</title>
            
<!-- Description -->
             <meta name="description" content="One Drop es la plataforma de control de la diabetes líder en el mundo. Somos un grupo de pacientes, familiares y médicos trabajando para que tenga el control de su diabetes"> 

<!-- Keywords -->
            <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="md:locale" content="es_es"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
            <meta name="keywords" content="salud, diabetes, educacion en diabetes, bienestar, asesoramiento sobre salud, control de glucemia"> 
            <meta name="origen" content="OneDrop" />
            <meta name="author" content="Grupo 30 - OneDrop" />
            <meta name="copyright" content="&copy; 2022 OneDrop" />
            <meta name="locality" content="CÓRDOBA, Argentina" />
            <meta name="language" content="es" />
            <meta name="revisit-after" content="1 days" />
            <meta name="robots" content="index, follow" />
            <meta name="googlebot" content="index, follow" />
<!-- Favicons -->
<!-- Acá deberíamos linkear a los favicons / acordarse de guardar el .png dentro de la carpeta "img" de la carpeta "assets" y con estos nombres -->
  <!-- link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
          
        </head> <!-- Termina Head -->    

<!-- Empieza Body -->    
        <body> 
        <!-- Empieza Navbar -->     
        <nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="#">OneDrop</a>
            <!-- acá podríamos reemplazar por un logo -->
                  <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" id="navbar-nav">
                      <li class="nav-item active" id="nav-item">
                        <a class="nav-link" id="nav-link" href="index.html"> Inicio <span class="sr-only">Inicio</span></a>
                      </li>
                      
                      <li class="nav-item" id="nav-item">
                        <a class="nav-link" id="nav-link" href="nosotros.html"> Nosotros </a>
                      </li>
                      <li class="nav-item" id="nav-item">
                      <!--
                        <a class="nav-link" id="nav-link" href="#"> Soporte </a>
                      </li>
                      <li class="nav-item" id="nav-item">
                         TK para el Sprint 2 / Recordar que es un link externo.
                        <a class="nav-link" id="nav-link" href="#"> Blog </a>
                      </li>
                      <li class="nav-item" id="nav-item">
                        <a class="nav-link" id="nav-link" href="#"> Contacto </a>
                      </li>
                    -->
                      <li class="nav-item" id="nav-item">
                        <a class="nav-link" id="nav-link" href="registro.html"> Registrarse</a>
                      </li>
                    </ul>
                    <a href="./login.html" id="btnLoginABorrar"><button class="btn" id="btn btn-primary boton1" type="button">Ingresar</button></a><!--  onclick="loginRedirect()" -->   
                  </div>
                </nav> <!-- Termina Navbar -->   
          </div>

            <section class="grid-container banner">
                <div class="cuerpo">
                    <h1> Conozca nuestra equipo</h1>
                    <p> Nuestro objetivo, es mejorar la vida de las personas con diabetes. </p>
                </div> 
            </section>

           
              <div class="grid-container seccion1">
                <div class="card">
                  <div class="card-body">
                    <h2 class="texto1"> NUESTRA HISTORIA </h2>
                    
                    <p class="texto2">
                      Somos un grupo de pacientes, familiares y médicos que nos preguntamos si era posible recopilar toda la información médica usando nuestros teléfonos inteligentes en lugar de tener que anotar esos datos en una libreta para acudir al control médico<br>
          
                      <br>Comenzamos desarrollar una plataforma integral para el control de la diabetes y llevar los beneficios de la tecnología a todas las personas con diabetes.<br> 
          
                      <br>En OneDrop nuestro objetivo desde el principio ha sido sacar provecho de la tecnología para dar a todos los conocimientos necesarios y poder tomar el control de su diabetes.<br>
                      </p>
                  </div>
                </div>
              </div>

              <div class="container2">
                <div class="row">
                  <div class="col">
                    <h3> NUESTRO EQUIPO </h3>
                  </div>
                </div>
              </div>
<!--buscar las imágenes y guardarlas respetando esa ruta !! "assets/img/nosotros-1-500x500.jpg"--> 
                <div class="grid-container seccion">
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-1-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Ihoana</h5>
                      <p class="card-text">Paciente</p>                   
                    </div>
                  </div>
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-2-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Daniel</h5>
                      <p class="card-text">Familiar de paciente</p>
                    </div>
                  </div>
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-3-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Maximiliano</h5>
                      <p class="card-text">Paciente</p>
                    </div>
                  </div>
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-4-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">David</h5>
                      <p class="card-text">Familiar de paciente</p>                   
                    </div>
                  </div>
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-5-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Martín</h5>
                      <p class="card-text">Familiar de paciente</p>
                    </div>
                  </div>
                  <div class="card cajas" style="width: 20rem;">
                    <!--img src="assets/img/nosotros-6-500x500.jpg" class="card-img-top" alt="..."-->
                    <div class="card-body">
                      <h5 class="card-title">Daniela</h5>
                      <p class="card-text">Familiar de paciente</p>
                    </div>
                  </div>
                  
                </div>

<!-- Empieza Footer --> 
              <footer>
                <div class="grid-container footer" id="grid-container footer">
                  <div class="grid-item" id="grid-item">
                    <h4>OneDrop </h4>
                      <p class="texto" id="texto"> La APP N° 1 en gestión de Diabetes</p>
                      <!-- acá van los links a redes sociales / buscar .svg y guardarlos en esa ruta assets/img/... --> 
                      <!--div class="grid-container redes-sociales" id="grid-container redes-sociales">
                        <p> Seguinos en: </p>
                        <a class="redes-sociales" id="redes-sociales" href="https://www.facebook.com" target="_blank"><img src="assets/img/facebook-logo-w.svg" class="card-img-top redes" alt="..."></a>
                        <a class="redes-sociales" id="redes-sociales" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram-logo-w.svg" class="card-img-top redes" alt="..."></a>
                        <a class="redes-sociales" id="redes-sociales" href="https://www.youtube.com/" target="_blank"><img src="assets/img/youtube-logo-w.svg" class="card-img-top redes" alt="..."></a>
                  </div-->
                  </div>
                  <div class="grid-item" id="grid-item">
                    <h4> Links </h4>
                      <p class="texto" id="texto"> Inicio </p>
                      <p class="texto" id="texto"> Nosotros </p>
                      <p class="texto" id="texto"> Contacto </p>
                  </div>
                  <div class="grid-item" id="grid-item">
                    <h4> Recursos </h4>
                      <p class="texto" id="texto"> Blog </p>
                      <p class="texto" id="texto"> Videos </p>
                      <p class="texto" id="texto"> Soporte </p>
                  </div>
                  <div class="grid-item" id="grid-item">
                    <h4> Contacto </h4>
                      <p class="texto" id="texto">+351 11 48855 </p>
                      <p class="texto" id="texto">info@onedrop.com </p>
                  </div>
              </div>  
                  <p class="pie" id="pie"> &copy; 2022 - TSDWAD - Grupo 30 </p>
              </footer> <!-- Termina Footer --> 
        </body>
    </html>               
</html>